<a href="https://colab.research.google.com/github/charlesdominictan/CPE-201-CPE2-B/blob/main/Laboratory%20Activity%20No.%204%20%20Arrays.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

PROBLEM 1

In [6]:
class GroceryItem:
    def __init__(self, name, price, quantity):
        self.name = name
        self.price = price
        self.quantity = quantity

    def __del__(self):
        print(f"{self.name} has been deleted.")

    def __copy__(self):
        return GroceryItem(self.name, self.price, self.quantity)

    def __str__(self):
        return f"{self.name} - PHP {self.price} x{self.quantity} = PHP {self.calculate_sum()}"

    def calculate_sum(self):
        return self.price * self.quantity


class Fruit(GroceryItem):
    pass


class Vegetable(GroceryItem):
    pass

PROBLEM 2

In [3]:
class GroceryItem:
    def __init__(self, name, price, quantity):
        self.name = name
        self.price = price
        self.quantity = quantity

    def __del__(self):
        print(f"{self.name} has been deleted.")

    def __copy__(self):
        return GroceryItem(self.name, self.price, self.quantity)

    def __str__(self):
        return f"{self.name} - PHP {self.price} x{self.quantity} = PHP {self.calculate_sum()}"

    def calculate_sum(self):
        return self.price * self.quantity


class Fruit(GroceryItem):
    pass


class Vegetable(GroceryItem):
    pass


grocery_list = [
    Fruit("Apple", 10, 7),
    Fruit("Banana", 10, 8),
    Vegetable("Broccoli", 60, 12),
    Vegetable("Lettuce", 50, 10)
]

print("Displaying all details")
print("Jenna's Grocery List:")
for item in grocery_list:
    print(item)

Displaying all details
Jenna's Grocery List:
Apple - PHP 10 x7 = PHP 70
Banana - PHP 10 x8 = PHP 80
Broccoli - PHP 60 x12 = PHP 720
Lettuce - PHP 50 x10 = PHP 500

PROBLEM 3

In [4]:
def total_sum(items):
    return sum(item.calculate_sum() for item in items)

print("\nTotal Sum: PHP", total_sum(grocery_list))

Total Sum: PHP 1370

PROBLEM 4

In [5]:
grocery_list = [item for item in grocery_list if item.name != "Lettuce"]

print("\nAfter deleting Lettuce:")
for item in grocery_list:
    print(item)

print("Total Sum: PHP", total_sum(grocery_list))

After deleting Lettuce:
Lettuce has been deleted.
Apple - PHP 10 x7 = PHP 70
Banana - PHP 10 x8 = PHP 80
Broccoli - PHP 60 x12 = PHP 720
Total Sum: PHP 870